//bbtmpl-names:sar0_gpio0,sar1_gpio1,sar2_gpio2,sar3_gpio3
//bbtmpl-consumables:j2_p11,j2_p12,j2_p13,j2_p14
//bbtmpl-expansion:sar
//bbovly-category:adc
//bbovly-type:device
//bbovly-consumes:${consumes}

/dts-v1/;
/plugin/;

/ {
	compatible = "thingyjp,thumbee";

	fragment@0 {
		target = <&sar>;
		__overlay__ {
			status = "okay";
			pinctrl-names = "default";
			pinctrl-0 = ${pinctrl};
		};
	};
};

