//bbtmpl-names:on_spi0,on_spi1
//bbtmpl-targets:mspi0,mspi1
//bbtmpl-expansion:eitheror
//bbovly-category:spi
//bbovly-type:device

/dts-v1/;
/plugin/;

/ {
	compatible = "thingyjp,thumbee";

	fragment@0 {
		target = <&${target}>;
		__overlay__ {
			spidev@0 {
				compatible = "spidev";
				spi-max-frequency = <10000000>;
				reg = <0>;
			};
		};
	};
};

