//bbtmpl-names:on_spi0,on_spi1
//bbtmpl-targets:mspi0,mspi1
//bbtmpl-expansion:eitheror
//bbtmpl-consumables:spi0,spi1
//bbovly-category:spi
//bbovly-type:device
//bbovly-consumes:${consumes}

/dts-v1/;
/plugin/;

/ {
	compatible = "thingyjp,thumbee";

	fragment@0 {
		target = <&${target}>;
		__overlay__ {
			status = "okay";
			spinor: spinor@0 {
				#address-cells = <1>;
				#size-cells = <1>;
				compatible = "jedec,spi-nor";
				reg = <0>;
				spi-max-frequency = <10000000>;
			};
		};
	};
};

