[submodule "buildroot"]
	path = buildroot
	url = https://github.com/fifteenhex/buildroot.git
	branch = msc313

[submodule "buildroot_rescue"]
	path = buildroot_rescue
	url = https://github.com/fifteenhex/buildroot.git
	branch = msc313

[submodule "br2autosshkey"]
	path = br2autosshkey
	url = https://github.com/fifteenhex/br2autosshkey.git

[submodule "br2sanetime"]
	path = br2sanetime
	url = https://github.com/fifteenhex/br2sanetime.git

