BR2_arm=y
BR2_cortex_a7=y
BR2_ARM_FPU_NEON=y
BR2_CCACHE=y
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_GCC_ENABLE_LTO=y
BR2_GCC_ENABLE_GRAPHITE=y
BR2_TARGET_GENERIC_HOSTNAME="breadbee"
BR2_TARGET_GENERIC_ISSUE="Welcome to breadbee. Your user is 'bzzbzz'. Type 'sudo beecfg' after logging in to start configuration."
# BR2_TARGET_ENABLE_ROOT_LOGIN is not set
# BR2_TARGET_GENERIC_REMOUNT_ROOTFS_RW is not set
BR2_SYSTEM_DHCP="eth0"
BR2_ENABLE_LOCALE_WHITELIST="C"
BR2_ROOTFS_USERS_TABLES="$(BR2_EXTERNAL_BREADBEE_PATH)/users"
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL_BREADBEE_PATH)/overlay/"
BR2_ROOTFS_POST_IMAGE_SCRIPT="support/scripts/genimage.sh"
BR2_ROOTFS_POST_SCRIPT_ARGS="-c $(BR2_EXTERNAL_BREADBEE_PATH)/board/thingyjp/breadbee/genimage.cfg"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="https://github.com/fifteenhex/linux.git"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="mstar_v5_9_rebase"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_BREADBEE_PATH)/board/thingyjp/breadbee/linux.config"
BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="$(BR2_PACKAGE_BREADBEE_OVERLAYS_FPGA_KERNEL_FRAGMENT) $(BR2_PACKAGE_BREADBEE_OVERLAYS_IR_KERNEL_FRAGMENT) $(BR2_PACKAGE_BREADBEE_OVERLAYS_USB_KERNEL_FRAGMENT) $(BR2_PACKAGE_BREADBEE_OVERLAYS_USB_AUDIO_KERNEL_FRAGMENT) $(BR2_PACKAGE_BREADBEE_OVERLAYS_SD_KERNEL_FRAGMENT) $(BR2_PACKAGE_BREADBEE_OVERLAYS_EXT4_KERNEL_FRAGMENT) $(BR2_EXTERNAL_BREADBEE_PATH)/configs/kernel_fragments/ch341"
BR2_LINUX_KERNEL_XZ=y
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="mstar-infinity3-msc313e-breadbee mstar-infinity-msc313-breadbee_crust mstar-infinity3-msc313e-wiibee"
BR2_LINUX_KERNEL_DTB_OVERLAY_SUPPORT=y
BR2_PACKAGE_BUSYBOX_CONFIG_FRAGMENT_FILES="$(BR2_EXTERNAL_BREADBEE_PATH)/board/thingyjp/breadbee/busybox_snippets/00-smallify"
BR2_PACKAGE_BUSYBOX_WATCHDOG=y
BR2_PACKAGE_LIBUBOOTENV=y
# BR2_PACKAGE_PYTHON3_UNICODEDATA is not set
BR2_PACKAGE_LIBGPIOD=y
BR2_PACKAGE_LIBGPIOD_TOOLS=y
BR2_PACKAGE_LIBIIO=y
# BR2_PACKAGE_LIBIIO_XML_BACKEND is not set
# BR2_PACKAGE_LIBIIO_NETWORK_BACKEND is not set
# BR2_PACKAGE_LIBIIO_USB_BACKEND is not set
# BR2_PACKAGE_LIBIIO_SERIAL_BACKEND is not set
# BR2_PACKAGE_LIBIIO_IIOD is not set
BR2_PACKAGE_LIBIIO_BINDINGS_PYTHON=y
BR2_PACKAGE_HAVEGED=y
BR2_PACKAGE_DROPBEAR=y
BR2_PACKAGE_NTP=y
BR2_PACKAGE_NTP_SNTP=y
# BR2_PACKAGE_NTP_NTPD is not set
BR2_PACKAGE_SUDO=y
BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_SQUASHFS=y
BR2_TARGET_ROOTFS_SQUASHFS4_XZ=y
# BR2_TARGET_ROOTFS_TAR is not set
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
BR2_TARGET_UBOOT_CUSTOM_GIT=y
BR2_TARGET_UBOOT_CUSTOM_REPO_URL="https://github.com/fifteenhex/u-boot.git"
BR2_TARGET_UBOOT_CUSTOM_REPO_VERSION="mstar"
BR2_TARGET_UBOOT_BOARD_DEFCONFIG="msc313_breadbee"
BR2_TARGET_UBOOT_FORMAT_IMG=y
BR2_TARGET_UBOOT_SPL=y
BR2_PACKAGE_HOST_GENIMAGE=y
BR2_PACKAGE_HOST_UBOOT_TOOLS=y
BR2_PACKAGE_HOST_UBOOT_TOOLS_FIT_SUPPORT=y
BR2_PACKAGE_HOST_UBOOT_TOOLS_FIT_SIGNATURE_SUPPORT=y
BR2_PACKAGE_AUTOSSHKEY=y
BR2_PACKAGE_AUTOSSHKEY_USERS="bzzbzz"
BR2_PACKAGE_AUTOSSHKEY_SUDOUSERS="bzzbzz"
BR2_PACKAGE_SANETIME=y
BR2_PACKAGE_BREADBEE_OVERLAYS_ADC=y
BR2_PACKAGE_BREADBEE_OVERLAYS_I2C=y
BR2_PACKAGE_BREADBEE_OVERLAYS_PWM=y
BR2_PACKAGE_BREADBEE_OVERLAYS_SPI=y
BR2_PACKAGE_BREADBEE_OVERLAYS_SD=y
BR2_PACKAGE_BREADBEE_OVERLAYS_UART=y
BR2_PACKAGE_BREADBEE_OVERLAYS_USB=y
BR2_PACKAGE_BREADBEE_OVERLAYS_USB_AUDIO=y
BR2_PACKAGE_BEECFG=y
BR2_PACKAGE_HOST_PTFTPD=y
BR2_PACKAGE_PYTHON_PYLX16A=y
BR2_PACKAGE_RWSETUP=y
BR2_PACKAGE_SWANKYPYTHON=y
